<launch>

    <rosparam file="$(find arm_control)/config/arm_control.yaml" command="load"/>

    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
    ns="/hexapod" args="joint_state_controller arm_joint_1_position_controller arm_joint_2_position_controller arm_joint_3_position_controller arm_joint_4_position_controller arm_joint_5_position_controller"/> 
    -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller arm_controller" respawn="false" output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>