<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="body_link">
        <material>Gazebo/Black</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <maxVel>0</maxVel>
    </gazebo>
    <gazebo reference="front_camera_link">
        <sensor type="camera" name="camera">
            <update_rate>30.0</update_rate>
            <camera name="front">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>800</width>
                    <height>600</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>front_camera</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>front_camera_link</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>
    <gazebo reference="lidar_link">
        <sensor type="ray" name="lidar">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>102</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.8901</min_angle>
                        <max_angle>0.8901</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>9</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.0785</min_angle>
                        <max_angle>0.0785</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>4</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.0</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_lidar_controller" filename="libgazebo_ros_laser.so">
                <robotNamespace></robotNamespace>
                <topicName>laser_scan</topicName>
                <frameName>lidar_link</frameName>
            </plugin>      
        </sensor>
    </gazebo>
    
    <xacro:leg_gazebo suffix="lf"/>
    <xacro:leg_gazebo suffix="lm"/>
    <xacro:leg_gazebo suffix="lr"/>
    <xacro:leg_gazebo suffix="rf"/>
    <xacro:leg_gazebo suffix="rm"/>
    <xacro:leg_gazebo suffix="rr"/>     
    
    <xacro:macro name="leg_gazebo" params="suffix">
        <gazebo reference="coxa_link_${suffix}">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <maxVel>0</maxVel>
        </gazebo>
        <gazebo reference="thigh_link_${suffix}">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <maxVel>0</maxVel>
        </gazebo>
        <gazebo reference="tibia_link_${suffix}">
            <material>Gazebo/Black</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <maxVel>0</maxVel>
        </gazebo>
    </xacro:macro>  

</robot>